a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;

    font-family: Avenir, Helvetica, Arial, sans-serif;

    box-sizing: border-box;
    cursor: pointer;
    outline: none;

    border: var(--ms-border-width,1px) solid var(--ms-border-color,#d1d5db);
    border-radius: var(--ms-radius,4px);
    background: var(--ms-bg,#fff);
    font-size: var(--ms-font-size,1rem);
    font-family: inherit;
    min-height: calc(var(--ms-border-width, 1px)*2 + var(--ms-font-size, 1rem)*var(--ms-line-height, 1.375) + var(--ms-py, .5rem)*2);
    padding: var(--ms-py,.875rem);
}
a.hover {
    background-color: var(--ms-option-bg-pointed,#f3f4f6);
}

